@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /*Primary*/
    --softBlue: hsl(215, 51%, 70%); 
    --cyan: hsl(178, 100%, 50%);
    /*Neutral*/
    --veryDarkBlue-mainBG: hsl(217, 54%, 11%);
    --veryDarkBlue-cardBG: hsl(216, 50%, 16%);
    --veryDarkBlue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /*attribution*/
    --attribution-color: hsl(228, 45%, 44%);
}

* {
    font-size: 18px;
    background-color: var(--veryDarkBlue-mainBG);
    
}

.main {
    margin: auto;
    padding: 20px;
    width: 400px;
    height: 800px;
    background-color: var(--veryDarkBlue-cardBG);
}

.mainImg {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    
    
}

.headerH1 {
    color: var(--white);
    background-color: var(--veryDarkBlue-cardBG);
}

.paragraph {
    color: var(--softBlue);
    background-color: var(--veryDarkBlue-cardBG);
}

.info {
    background-color: var(--veryDarkBlue-cardBG);
}

.currency {
    color: var(--cyan);
    background-color: var(--veryDarkBlue-cardBG);
}

.days {
    color: var(--softBlue);
    background-color: var(--veryDarkBlue-cardBG);
}

.line {
    border-color: var(--veryDarkBlue-line);
}

.creation {
    display: flex;
    color: var(--softBlue);
    background-color: var(--veryDarkBlue-cardBG);
}

.julesP {
    background-color: var(--veryDarkBlue-cardBG);
}

.avatar {
    height: 50px;
    width: 50px;
    background-color: var(--veryDarkBlue-cardBG);
}

.jules {
    color: var(--white);
    background-color: var(--veryDarkBlue-cardBG);
}




.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: var(--attribution-color);
}