@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /*Primary*/
    --softBlue: hsl(215, 51%, 70%); 
    --cyan: hsl(178, 100%, 50%);
    /*Neutral*/
    --veryDarkBlue-mainBG: hsl(217, 54%, 11%);
    --veryDarkBlue-cardBG: hsl(216, 50%, 16%);
    --veryDarkBlue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /*attribution*/
    --attribution-color: hsl(228, 45%, 44%);
}

* {
    transition: all 0.2s ease-in;
    font-size: 18px;
    font-family: Outfit;    
    
}
body {
    margin-top: 20rem;
    background: var(--veryDarkBlue-mainBG);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    width: 20rem;
    height: 35rem;
    background-color: var(--veryDarkBlue-cardBG);
    border-radius: 0.8rem;
}

.mainImg {
      
    width: 18rem;
    height: 18rem;
    border-radius: 0.8rem;
}

.hover {
    position: absolute;
    top: 21.5rem;
    left: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 18rem;    
    background: var(--cyan);
    opacity: 0;
    border-radius: 0.8rem;
}

.hover:hover {
    opacity: 0.5;
    cursor: pointer;
}

.hoverImg {
    width: 5rem;
    height: 5rem;
}

.headerH1 {
    display: flex;
    align-self:flex-start;
    margin-left: 1rem;
    color: var(--white);
    
}

.headerH1:hover {
    color: var(--cyan);}


.paragraph {
    margin-left: 1rem;
    line-height: 1.6rem;
    color: var(--softBlue);
    
}

.info {
    display: flex;
    justify-content: space-evenly;
    
}

.currency {
    color: var(--cyan);
    
}

.days {
    color: var(--softBlue);
    
}

.line {
    
   
}

.creation {
    display: flex;
    color: var(--softBlue);
    
}

.julesP {
    
}

.avatar {
    height: 2.5rem;
    width: 2.5rem;
    
}

.jules {
    color: var(--white);
    
}




.attribution { 
    font-size: 1vw;
    text-align: center;
}

.attribution a { 
    color: var(--attribution-color);
}