@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /*Primary*/
    --softBlue: hsl(215, 51%, 70%); 
    --cyan: hsl(178, 100%, 50%);
    /*Neutral*/
    --veryDarkBlue-mainBG: hsl(217, 54%, 11%);
    --veryDarkBlue-cardBG: hsl(216, 50%, 16%);
    --veryDarkBlue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /*attribution*/
    --attribution-color: hsl(228, 45%, 44%);
}

* {
    transition: all 0.2s ease-in;
    font-size: 18px;
    font-family: Outfit;    
    box-sizing: border-box;    
}

body {
    padding: 5rem;
    background: var(--veryDarkBlue-mainBG);
}


/* --- Main is the whole card --- */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    width: 18em;
    height: 35rem;
    background-color: var(--veryDarkBlue-cardBG);
    border-radius: 0.8rem;
}
/*  --- Image on top ---  */

.imgContainer {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
    height: 18rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

.mainImg {
    width: 16rem;
    height: 16rem;
    border-radius: 0.8rem;     
}

.hoverImg {    
    width: 5rem;
    height: 5rem;    
}

.hover {    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 18rem;    
    background: var(--cyan);
    opacity: 0;
    border-radius: 0.8rem;
    overflow: hidden;    
}

.hover:hover {
    opacity: 0.5;
    cursor: pointer;
}



/* --- Header and cyan hover --- */

.headerH1 {
    display: flex;
    align-self:flex-start;
    margin-left: 1rem;
    color: var(--white);
}

.headerH1:hover,
.jules:hover {
    color: var(--cyan);
}

/* --- Paragraph --- */

.paragraph {
    margin-left: 1rem;
    line-height: 1.6rem;
    color: var(--softBlue);
}

/* --- Currency and date */

.info { 
    display: flex; 
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}


.ethereum, .clock {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.currency {
    color: var(--cyan);
}

.days {
    color: var(--softBlue);
}

/* --- The border --- */
.line {
    border: 1px solid var(--veryDarkBlue-line);
    width: 90%;
    margin: 1rem;
}
/* ---Bottom picture and creator --- */
.creation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--softBlue);
    margin-left: 1rem;
}

.avatar {
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 2.3rem;
    width: 2.3rem;
}

.jules {
    color: var(--white);
}

/* --- Footer --- */

.attribution { 
    font-size: 1vw;
    text-align: center;
}

.attribution a { 
    color: var(--attribution-color);
}